<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        
    <h1>welcome</h1>
    {% if username and name and password and age %}
    <p name = "username">your username: {{username}}</p>
    <p>your name:  {{name}}</p>
    <p>your age: {{age}}</p>
    <p style=" display: inline;" name = "password" >your password: {{password}}</p>       <input type="submit" value="change password">
    <p></p>
    
    {% endif %}

    </center>
</body>
</html>